@import 'partials/setup';
@import 'partials/typography';
@import 'partials/layout';
@import 'partials/hamburger';
@import 'partials/header';
@import 'partials/hxouse';
@import 'partials/panel';
@import 'partials/program';
@import 'partials/partners';
@import 'partials/footer';

@media (max-width: 2000px) {
	html {
		font-size: 62.5%;
	}
}


@media (max-width: 1280px) {
	html {
		font-size: 50%;
	}

	.panel-discussion .column {
		height: 600px;
	}
}


@media (max-width: 880px) {
    .special-concert {
        width: 65%;
        margin: 50px 35%;
    }
}

@media (max-width: 768px) {

	.program-schedule .schedule {
    	width: 80%;
        margin-left: 0;
    }

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.hxouse-live .content {
		width: 50%;
	}

	.hxouse-live .flex {
		width: 100%;
	}

	html {
		font-size: 40%;
	}

    .panel-discussion .content {
        margin-left: 0;
        width: 100%;
    }

    .program-schedule .column {
		width: 50%;
    }

    .button {
        font-size: 3rem;
    }

    .circle {
    	top: 0;
	}
	
	.sponsors {
		width: 60%;
	}

	.partners-row2 img {
		height: 20px;
	}

	.panel_title { 
		margin-bottom: 20px;
	}

	.hx002 {
		top: 0;
		left: 50%;
	}

	.flex.main {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.disclaimer {
		position: static;
		width: 100%;
		transform: rotate(0deg);
	}
}


@media (max-width: 625px) {
	.dome {
		width: 100%;
		margin: 50px auto;
	}

	.panel-discussion .column {
		height: 550px;
	}

	#nav-icon3 {
		display: block;
		z-index: 2;
	}

	nav li {
		text-align: center;
		height: calc(100vh / 4);
		position: relative;

		a {
			font-size: 3rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	nav ul {
		display: none;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
		padding: 0;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.9);
	}

	p, .button {
		font-size: 2rem;
	}
	h5 {
			font-size: 4rem;
	}

	.program-schedule a {
		font-size: 2rem;
	}

	h3 {
		font-size: 3rem;
	}
}

@media (max-width: 420px) {

	.program-schedule .schedule {
    	width: 50%;
        margin-left: 0;
	}
	

	.panel-discussion .column {
		height: 400px;
		width: 60%;
	}

	.program-schedule .content {
		grid-template-columns: 3fr 4fr 3fr;
	}

	.program-schedule .column {
		width: 100%;
	}

	
}