footer .flex {
	display: flex;
	justify-content: space-between;
}

footer {
	padding-bottom: 20px;

	.right {
		text-align: right;
	}
}

.xxx {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;

    object {
        height: 10px;
        margin-right: 50px;
    }

    .block {
        width: 30px;
        height: 15px;
        background: #fff;
    }
}