header {
	width: 100vw;
	height: 100vh;
	position: relative;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 0px 15px;
}

nav a:first-child {
	padding-left: 0;
}

.arrow div {
	position: absolute;
	bottom: 50px;
	left: 50%;
	height: 30px;
	width: 30px;
	border-left: 5px solid white;
	border-bottom: 5px solid white;
	transform: rotate(-45deg) translateX(-50%);
}