.hxouse-live {
	padding-top: 20px;
	position: relative;
	width: 100vw;

	.content {
		margin-bottom: 100px;
	}

	.content > * {
		margin-bottom: 20px;
	}

	.content > *:first-child {
		margin-bottom: 10px;
	}

	.flex {
		width: 80%;
		height: auto;
	}
}

.hxouse-title {
	width: 25%;
	min-width: 100px;
    max-width: 300px;
	position: absolute;
	right: 2.5%;
	top: 0px;
	z-index: 1;

	h2 {
		font-size: 20rem;
	}

}

.x33 {
	position: absolute;
	width: 10%;
	right: 3%;
	bottom: 0;
}

.hx1 {
	width: 70%;
	margin-bottom: 50px;
}

.hx2 {
	width: calc((100% - 10px) / 3);
	object-fit: contain;
	height: 100%;
}

.hx2-lines {
	width: 1%;
	object-fit: contain;
}

.special-concert {
	width: 60%;
	margin: 50px 30% 100px;

	h3 {
		margin-bottom: 20px;
	}

	.button {
		margin-top: 30px;
	}
}

.background {
	width: 20vw;
	height: 100vw;
	max-height: 1500px;
	position: absolute;
	transform: translate(30px, 45px);
	opacity: 0.3;
	z-index: -1;
}