.panel-discussion {
    position: relative;
    margin-bottom: 100px;

    .column {
        position: relative;
        min-width: 150px;
        height: 700px;

        &> * {
            margin-bottom: 30px;
        } 


        .button {
            position: absolute;
            bottom: 0;
        }
    }

    .column {
        width: 40%;
    }

    .content {
        display: flex;
        width: 60%;
        flex-direction: row;
        margin-left: 30%;
        justify-content: space-between
    }
}

.panel_title {
    padding-top: 20px;    
    margin-bottom: 80px;
    min-width: 300px;
}

.hx001 {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40%;
}

.section-2 {
    width: 10px;
    position: absolute;
    top: 50%;
    right: 3.5%;
}

