.partners h2 {
    font-size: 8rem;
    margin-bottom: 20px;
}

.partners .flex{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    .sticker {
        width: 25%;
        min-width: 80px;
        max-width: 150px;
    }
}

.google {
    width: 100%;
    margin-bottom: 10px;
}

.sponsors {
    width: 30%;
}

.partners_title {
    width: 50%;
    min-width: 300px;
    margin-bottom: 20px;
}

.partners-row2 {
    display: flex;
    justify-content: space-between;
}

.partners-row2 img {
    height: 30px;
}
