.program-schedule {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 100%;

    .content {
        display: grid;
        width: 65%;
        max-width: 800px;
        min-width: 200px;
        grid-template-rows: repeat(auto-fill);
        grid-template-columns: 2fr 4fr 3fr;
        grid-gap: 0;
        align-items: center;
    }

    .program_title {
        width: 20%;
        min-width: 150px;
        position: absolute;
        right: 3%;
        top: -15px;
        z-index: -1;

        h2 {
            font-size: 15rem;
        }
    }

    .schedule {
        margin: 80px 0 80px 30%;

        h3 {
            margin-bottom: 20px;
        }
    }

    .column {
        width: 30%;
        min-width: 150px;
        margin-bottom: 50px;
    }

    .flex.main {
        margin-bottom: 150px;
    }

    a {
        font-size: 3rem;
    }

    p {
        margin: 20px 0px;
    }

    .flex {
        width: 100%;
    }

    .column-1 {
        margin-right: 10px;
    }

    .column-2 > .flex {
       width: 60%;
       justify-content: space-between;

        div:first-child {
        margin-right: 20%;
       }
    }

    .circle {
        position: absolute;
        width: 15%;
        min-width: 80px;
        max-width: 200px;
    }

}

.disclaimer {
    opacity: .5;
    position: absolute;
    width: 30%;
    bottom: 60%;
    transform-origin: top left;
    transform: rotate(-90deg);
}
.hx002 {
    width: 60px;
    position: absolute;
    top: -180px;
}

.dome {
    width: 75%;
    min-width: 200px;
    margin-bottom: 50px;
}

.site-three {
    width: 150px;
}