html {
	font-size: 50%;
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	font-family: Accidalia;
	letter-spacing: 0.03rem;
	// background: #0d0d0d;
	background: black;
	color: #fff;
	 -webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}

h2, h3, h4 {
	text-transform: uppercase;
	padding: 0;
}

h2, h3 {
	font-family: Eurostile;
}

li {
	list-style-type: none;
}

h2 {
	font-size: 10rem;
	line-height: 0.8;
	// display: block;
	color: #0d0d0d;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}

h5 {
	font-size: 6rem;
	color: #0d0d0d;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

h4 {
	font-size: 1.8rem;
}

h3 {
	font-size: 6rem;
	line-height: 0.8;

}

p {
	font-size: 3rem;
}

nav li a {
	font-size: 2rem;
}

li {
	font-size: 3rem;
}

.button {
	display: inline-block;
	font-family: Google Sans;
	font-size: 6rem;
	background: #fff;
	color: black;
	// padding: 1.5rem 3rem 0rem 3rem;
	padding: .5rem 4rem;
	text-transform: uppercase;
	font-weight: bold;
}

@font-face {
	font-family: Eurostile;
	src: url(../../../public/assets/fonts/EurostileUnicaseLTPro.otf);
}

@font-face {
	font-family: Google Sans;
	src: url(../../../public/assets/fonts/GoogleSans-Bold.ttf);
}

@font-face {
	font-family: Accidalia;
	src: url(../../../public/assets/fonts/URWAccidaliaTMedExt.ttf);
}

.flex {
	display: flex;
}