article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

body {
  color: red; }

html {
  font-size: 50%;
  scroll-behavior: smooth; }

body {
  font-size: 1rem;
  font-family: Accidalia;
  letter-spacing: 0.03rem;
  background: black;
  color: #fff;
  -webkit-font-smoothing: antialiased; }

a {
  color: inherit;
  text-decoration: none; }

h2, h3, h4 {
  text-transform: uppercase;
  padding: 0; }

h2, h3 {
  font-family: Eurostile; }

li {
  list-style-type: none; }

h2 {
  font-size: 10rem;
  line-height: 0.8;
  color: #0d0d0d;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }

h5 {
  font-size: 6rem;
  color: #0d0d0d;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }

h4 {
  font-size: 1.8rem; }

h3 {
  font-size: 6rem;
  line-height: 0.8; }

p {
  font-size: 3rem; }

nav li a {
  font-size: 2rem; }

li {
  font-size: 3rem; }

.button {
  display: inline-block;
  font-family: Google Sans;
  font-size: 6rem;
  background: #fff;
  color: black;
  padding: .5rem 4rem;
  text-transform: uppercase;
  font-weight: bold; }

@font-face {
  font-family: Eurostile;
  src: url(../../../public/assets/fonts/EurostileUnicaseLTPro.otf); }

@font-face {
  font-family: Google Sans;
  src: url(../../../public/assets/fonts/GoogleSans-Bold.ttf); }

@font-face {
  font-family: Accidalia;
  src: url(../../../public/assets/fonts/URWAccidaliaTMedExt.ttf); }

.flex {
  display: flex; }

.wrapper {
  width: 95%;
  margin: 0 auto; }

header {
  width: 100vw;
  height: 100vh;
  position: relative; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; }

nav li {
  display: inline-block; }

nav a {
  padding: 0px 15px; }

nav a:first-child {
  padding-left: 0; }

.arrow div {
  position: absolute;
  bottom: 50px;
  left: 50%;
  height: 30px;
  width: 30px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(-45deg) translateX(-50%); }

.g {
  width: 50px;
  height: 50px; }

.title {
  width: 30%;
  max-width: 600px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.chrome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  z-index: -1;
  width: 60%; }

.hxouse-live {
  padding-top: 20px;
  position: relative;
  width: 100vw; }
  .hxouse-live .content {
    margin-bottom: 100px; }
  .hxouse-live .content > * {
    margin-bottom: 20px; }
  .hxouse-live .content > *:first-child {
    margin-bottom: 10px; }
  .hxouse-live .flex {
    width: 80%; }

.hxouse-title {
  transform: rotate(90deg) translateX(100%);
  transform-origin: right top;
  position: absolute;
  right: 3%;
  top: 0px;
  z-index: -1;
  display: flex; }
  .hxouse-title h2 {
    font-size: 20rem; }
  .hxouse-title .x33 {
    transform: rotate(-90deg);
    width: 125px;
    height: 100px;
    justify-content: flex-start; }

.hx1 {
  width: 70%;
  margin-bottom: 50px; }

.hx2 {
  width: calc((100% - 10px) / 3);
  object-fit: contain; }

.hx2-lines {
  width: 10px; }

.special-concert {
  width: 60%;
  margin: 50px 30% 100px;
  z-index: 5; }
  .special-concert h3 {
    margin-bottom: 20px; }
  .special-concert .button {
    margin-top: 30px; }

.background {
  width: 250px;
  height: 1500px;
  position: absolute;
  transform: translate(30px, 45px);
  opacity: 0.3;
  z-index: -1; }

.panel-discussion {
  position: relative; }
  .panel-discussion h2 {
    font-size: 15rem;
    margin-bottom: 80px; }
  .panel-discussion .column {
    position: relative;
    min-width: 300px;
    height: 600px; }
    .panel-discussion .column > * {
      margin-bottom: 30px; }
    .panel-discussion .column .button {
      position: absolute;
      bottom: 0; }
  .panel-discussion .column-1 {
    width: 40%; }
  .panel-discussion .column-2 {
    width: 40%; }
  .panel-discussion .content {
    display: flex;
    width: 60%;
    flex-direction: row;
    margin-left: 30%;
    justify-content: space-between; }

.section-2 {
  width: 10px;
  position: absolute;
  top: 50%;
  right: 3.5%; }

.program-schedule {
  position: relative;
  width: 100%;
  height: 100%; }
  .program-schedule .content {
    display: grid;
    width: 65%;
    max-width: 800px;
    min-width: 300px;
    grid-template-rows: repeat(auto-fill);
    grid-template-columns: 2fr 4fr 3fr;
    grid-gap: 0;
    align-items: center; }
  .program-schedule .program-title {
    transform: rotate(90deg) translateX(100%);
    transform-origin: right top;
    position: absolute;
    right: 3%;
    top: -15px;
    z-index: -1; }
    .program-schedule .program-title h2 {
      font-size: 15rem; }
  .program-schedule .schedule {
    margin: 80px 0 80px 30%; }
    .program-schedule .schedule h3 {
      margin-bottom: 20px; }
  .program-schedule .column {
    width: 30%;
    min-width: 300px;
    margin-bottom: 200px; }
  .program-schedule a {
    font-size: 3rem; }
  .program-schedule p {
    margin: 20px 0px; }
  .program-schedule .flex {
    display: flex;
    flex-wrap: wrap; }
  .program-schedule .column-2 .flex > div:first-child {
    margin-right: 50px; }
  .program-schedule .circle {
    position: absolute;
    width: 15%;
    min-width: 50px;
    max-width: 200px; }
  .program-schedule .disclaimer {
    opacity: .5;
    position: absolute;
    width: 30%;
    top: 625px;
    transform-origin: top left;
    transform: rotate(-90deg); }
  .program-schedule .hx002 {
    width: 80px;
    position: absolute;
    top: -180px; }

.dome {
  width: 75%;
  min-width: 200px;
  margin-bottom: 50px; }

.site-three {
  width: 150px; }

.partners h2 {
  font-size: 8rem;
  margin-bottom: 20px; }

.partners .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px; }
  .partners .wrapper .sticker {
    width: 200px; }

.google {
  width: 350px;
  margin-bottom: 20px; }

.sponsors {
  width: 30%; }

.partners-row2 {
  display: flex;
  justify-content: space-between; }

.partners-row2 img {
  height: 30px; }

footer .flex {
  display: flex;
  justify-content: space-between; }

footer {
  padding-bottom: 20px; }
  footer .right {
    text-align: right; }

.xxx {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px; }
  .xxx object {
    height: 10px;
    margin-right: 50px; }
  .xxx .block {
    width: 30px;
    height: 15px;
    background: #fff; }

@media (max-width: 880px) {
  .special-concert {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 768px) {
  h3 {
    font-size: 4rem; }
  .panel-discussion .content {
    margin-left: 0;
    width: 100%; }
  .program-schedule .schedule {
    margin-left: 0; }
  .button {
    font-size: 3rem; } }
